<!doctype html>
<head>
    <title>Graph utils</title>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "3rdParty/vis/vis.js" %}"></script>
    <link href="{% static "3rdParty/vis/vis.css" %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static "3rdParty/jquery-2.1.4.js" %}"></script>
    <link href="{% static "graph/graph.css" %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static "graph/graph.js" %}"></script>
</head>
<body onload="redrawGraph({{ graph }})">
<div id="content">
    <div id="mainControls">
        <div id="graphView">
            <div id="viewArea" pk="{{ pk }}" graphJSON="{{ graph }}"></div>
            <div id="viewControls">
                <input type="text" class="nodeInput" id="aStarFrom" placeholder="Start node">
                <input type="text" class="nodeInput" id="aStarTo" placeholder="End node">
                <button type="submit" id="calculateAStarButton" onclick="onCalculateAStarButtonClicked()">Calculate A* Path</button>
            </div>
        </div>
        <div id="graphInput">
            <div id="inputArea">
                <textarea id="graphInputArea" placeholder="Input format: nodes:1[2,3],2[1,1],3[4,2]; arcs:1->2[12],1->3[45]"></textarea>
            </div>
            <div id="inputControls">
                <button type="submit" id="saveGraphButton" onclick="onSaveGraphButtonClicked()">Save Graph</button>
            </div>
        </div>
    </div>
</div>
</body>